@font-face {
	font-family: 'TeyvatFont';
	src: url('./zh-cn.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

$background-gradient:linear-gradient(0deg, rgba(187,138,55,1) 0%, rgba(208,117,62,1) 48%, rgba(187,41,32,1) 100%);
$header-footer-color:rgb(104, 25, 25);
$one-star-color:rgb(185, 185, 185);
$two-star-color:rgb(133, 180, 133);
$three-star-color:rgb(121, 176, 238);
$delay:0.2s;

body {
	background: $background-gradient;
	color: white;
	font-family: 'TeyvatFont';
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px;
}
#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: $header-footer-color;
	animation-name: header-fade-in;
	animation-duration: 1.5s;
}

@keyframes header-fade-in{
	from {opacity:0;}
	to {opacity: 1;}
}
#wanmin {
	padding-left: 32px;
}
#links {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 32px;
	padding-right: 32px;
}

#home-button{
	animation-name: bounce;
	animation-duration: 1.5s;
	animation-timing-function: ease;
}

#menu-button{
	animation-name: bounce;
	animation-duration: 1.5s;
	animation-timing-function: ease;
}

#contact-button{
	animation-name: bounce;
	animation-duration: 1.5s;
	animation-timing-function: ease;
}

@keyframes bounce{
		0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-30px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
}

#home-button {
	&:hover {
		animation: wobble 0.5s linear infinite alternate;
	}
}
#menu-button {
	&:hover {
		animation: wobble 0.5s linear infinite alternate;
	}
}
#contact-button {
	&:hover {
		animation: wobble 0.5s linear infinite alternate;
	}
}

@keyframes wobble {
	from{transform:rotate(-5deg) scale(1);}
	50%{transform: scale(1.2);}
	to{transform:rotate(5deg) scale(1);}
}

#home-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-left: 100px;
	padding-right: 100px;
}

#middle-container{
	border-radius:16px;
	position:relative;
	animation-name: hours-fade-in;
	animation-duration: 1.5s;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content: space-between;
	gap: 32px;
}

#subtext{
	font-style: italic;
	text-align:center;
}

#home-wanmin{
	border-radius: 16px;
	box-shadow: 10px 5px 5px rgba(82, 40, 30, 0.548);
}

#guoba-container{
	position: relative;
	animation-name: guoba-fade-in;
	animation-duration: 0.75s;
}

@keyframes guoba-fade-in{
	from {opacity:0; right:200px;}
	to {opacity: 1; right:0px;}
}

#guoba{
	&:hover{
		animation: guoba-xiangling-wobble 0.3s linear infinite alternate;
	}
}

@keyframes guoba-xiangling-wobble {
	from{transform:rotate(0deg);}
	to{transform:rotate(-5deg);}
}

#hours-container{
	border: 2px solid $header-footer-color;
	border-radius:16px;
	background-color:$two-star-color;
	width: 300px;
	height: 200px;
	padding-top:16px;
	box-shadow: 10px 5px 5px rgba(82, 40, 30, 0.548);
}

ul{
	list-style-type: none;
}

@keyframes hours-fade-in{
	from {opacity: 0;}
	33%{ opacity: 0; bottom: 100px;}
	to {opacity: 1; bottom: 0px;}

}

#xiangling-container{
	position: relative;
	animation-name: xiangling-fade-in;
	animation-duration: 0.75s;
}

@keyframes xiangling-fade-in{
	from {opacity:0; left:200px;}
	to {opacity: 1; left: 0px;}
}

#xiangling{
	&:hover{
		animation: guoba-xiangling-wobble 0.5s linear infinite alternate;
	}
}

#menu-container {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 32px;
	padding-bottom: 32px;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(5, 1fr);
	gap:16px;
}

@keyframes menu-fadein{
	100%{opacity:1;};
}

#menu-container div{
	animation: menu-fadein 0.5s forwards;
}

#menu-container div:nth-child(1){
	animation-delay:$delay;
}

#menu-container div:nth-child(2){
	animation-delay:$delay * 2;
}

#menu-container div:nth-child(3){
	animation-delay:$delay * 3;
}

#menu-container div:nth-child(4){
	animation-delay:$delay * 4;
}

#menu-container div:nth-child(5){
	animation-delay:$delay * 5;
}

#menu-container div:nth-child(6){
	animation-delay:$delay * 6;
}

#menu-container div:nth-child(7){
	animation-delay:$delay * 7;
}

#menu-container div:nth-child(8){
	animation-delay:$delay * 8;
}

#menu-container div:nth-child(9){
	animation-delay:$delay * 9;
}

#menu-container div:nth-child(10){
	animation-delay:$delay * 10;
}

.food-container {
	border-radius: 16px;
	display: grid;
	grid-template-columns: 4fr 0.5fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 3fr 1fr 1fr;
	height: 256px;
	width: 768px;
	padding: 16px;
	box-shadow: 10px 5px 5px rgba(82, 40, 30, 0.548);
	opacity:0;
}


.food-image {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	padding-left: 32px;
}
.food-name {
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 2;
}
.food-text {
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 2;
	grid-row-end: 3;
}
.food-currency {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}
.food-price {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
}
.food-rarity {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 5;
}
.one-star {
	background-color: $one-star-color;
}
.two-star {
	background-color: $two-star-color;
}
.three-star {
	background-color: $three-star-color;
}

#contact-container{
	display:grid;
	grid-template-columns: 0.5fr 1fr 1fr 4fr 1fr 1fr 0.5fr;
	grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
}

#pepper{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	animation: pepper-anim 2s linear infinite;
}

@keyframes pepper-anim{
	0%{transform:rotate(0deg) translateY(0px); }
	20%{transform:rotate(170deg) translateY(0px);}
	30%{transform:rotate(170deg) translateY(-30px);}
	35%{transform:rotate(170deg) translateY(10px);}
	40%{transform:rotate(170deg) translateY(-30px);}
	45%{transform:rotate(170deg) translateY(10px);}
	50%{transform:rotate(170deg) translateY(0px);}
	70%{transform:rotate(0deg) translateY(0px);}
}

#fish{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
	animation: fish-anim 0.5s linear infinite alternate;
}

@keyframes fish-anim{
	from{transform:rotate(-5deg) translateX(-30px);}
	to{transform:rotate(5deg) translateX(-10px);}
}

#map-container{
	display:flex;
	flex-direction:column;
	align-items:center;
	animation-name: map-fadein;
	animation-duration: 1.5s;
	padding-top:50px;
	padding-bottom:100px;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 6;
	border:2px solid $header-footer-color;
	background-color:$two-star-color;
	border-radius:24px;
	margin-top:32px;
	box-shadow: 10px 5px 5px rgba(82, 40, 30, 0.548);
}

@keyframes map-fadein{
	from {opacity:0;}
	to{opacity: 1;}
}

#wanmin-map{
	border-radius:16px;
	box-shadow: 5px 3px 3px rgba(30, 92, 35, 0.548);
}

#jueyun{
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 4;
	animation: jueyun-anim 0.3s linear infinite alternate;
}

@keyframes jueyun-anim{
	from{transform:rotate(0deg);}
	to{transform:rotate(-10deg);}
}

#chibi-xiangling{
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 4;
	grid-row-end: 5;
	animation: chibi-xiangling-anim 0.5s linear infinite alternate;
}

@keyframes chibi-xiangling-anim{
	from{transform:scale(1);}
	to{transform:scale(1.1);}
}

#footer {
	text-align: center;
	background-color: $header-footer-color;
	width: 100%;
	animation-name: footer-fade-in;
	animation-duration:1.5s;
}

@keyframes footer-fade-in{
	from {opacity:0;}
	to {opacity: 1;}
}